<html>
	<style>
		.done-true {
			text-decoration: line-through;
		}
		.important-true {
			color: red;
		}
	</style>

	<body>
		<h1>Hello from a view!</h1>
		<p>This is being rendered from a view</p>


		<ul>
			<% todos.sort_by{|t| t.important ? 0 : 1 }.each_with_index do |todo, i| %>
				<li class="done-<%= todo.done %> important-<%= todo.important %>">
					<%= todo %>
					<a href="/delete?todo=<%= i %>">delete</a>
					|
					<a href="/done?todo=<%= i %>">done</a>
					|
					<a href="/important?todo=<%= i %>">important</a>
				</li>
			<% end %>
		</ul>

		<form action="/add" method="POST">
			<input type='text' name='todo' placeholder="Add a todo" />
			<input type='submit' value='Add' />
		</form>
	</body>
</html>